.Button {
  font-size: 0.9rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  background-color: #123c69;
  opacity: 1;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #123c69 !important;
}

.Button:active {
  background-color: #123c69 !important;
}

.Button:focus {
  background-color: #123c69;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue {
  background-color: #123c69;
  opacity: 0.8;
  color: #ffffff;
}

.Red,
.Outline:hover {
  background-color: #ac3b61;
  color: white;
  background-color: #ac3b61;
  color: white;
}
.Red:hover,
.Outline {
  background-color: #edc7b7;
  color: black;
}