.Form {
  border: none;
  border-bottom: 2px #123c69 solid;
}

.Button {
  border: none;
  background-color: #ac3b61;
  color: white;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  border-color: #ac3b61;
  cursor: pointer;
  background-color: #edc7b7;
  color: black;
  border: 1px;
}
